.confirmation-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: var(--MainBlue);
  /* font-size: 2.5em; */
  margin-bottom: 30px;
  font-family: "Geologica", system-ui, sans-serif !important;
  margin-top: 100px;
  text-align: center;
}

.event-details {
  background: var(--Base1);
  padding: 20px;
  border-radius: 8px;
  margin: 30px auto;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

h2 {
  font-family: var(--HeadingFont);
  color: var(--MainContrast);
  margin-bottom: 20px;
}

.title-container,
.datetime,
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

#startDateTime {
  margin: 0px;
}

#endDateTime {
  margin: 3px 0 0 0;
}

.title-container i,
.datetime i,
.location i {
  color: var(--MainBlue);
  margin-top: 4px;
}

.action-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

/* シェアオーバーレイのスタイル */
.share-overlay {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--Base1);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  gap: 12px;
  z-index: 2000;
}

.share-overlay.active {
  display: flex;
}

.share-icon {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--MainBlue);
}

.share-icon:hover {
  background: var(--Blue4);
}

