.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*~

*.log

*.tmp
.cache/

.env

config.ini
*.key
*.pem
パスワード.txt

# API Keys and Sensitive Configuration
config/config.js

build/
dist/

node_modules/
package-lock.json
yarn.lock

*.bak
*.dump

.*

.firebaserc
firebase.json
firestore.indexes.json
firestore.rules

serviceAccountKey.json

# For FCM
vapid.config.js