#api-monitor {
  width: 60%;
  transform: translateX("-500px");
}

header {
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#map {
  height: 630px;
  width: 495px;
  border-radius: 15px;
  z-index: -1;
  pointer-events: auto !important;
}

main {
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  width: 980px;
}

.main-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: calc(100vh - 100px);
  overflow: hidden;
}

#event-cards-all {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(320px, auto);
  gap: 10px;

  height: 100%;
  overflow-y: auto;
  /* scrollbar-width: none; */
}

#event-cards-all::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

/* Marker */
.custom-label {
  background: rgba(255, 255, 255, 1);
  padding: 4px 8px;
  border-radius: 5px;
  white-space: nowrap;
}

/* Information window next to marker */
.event-info-window {
  display: flex;
}

.event-info-window img {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

/* card section */
.card-area-div {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
}

.card-area-div img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card {
  min-height: 150px;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }

  .main-view {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .map-view {
    width: 100%;
  }

  #map {
    width: 100%;
    height: 80vh;
  }

  /* #event-cards-all {
    display: none;
  } */
}