/* event cards */

.card-area-div {
  padding: 5px;
}
.event-cards {
  width: 230px;
  overflow: hidden;
  background-color: var(--card-info-color);
  border-radius: var(--web-small-radius);
}

.event-cards:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.event-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  display: block;
  border-radius: var(--web-small-radius);
}

.event-info {
  padding: 4px 4px;
}

.category-div {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: var(--MainGreen);
  border-radius: 5px;
  object-fit: fill;
}

.event-titles {
  color: var(--MainContrast);
}

.event-period {
  margin: 4px 0;
  display: block;
  font-weight: bold;
  color: var(--Contrast1);
}

.event-locations {
  margin: 4px 0;
  display: block;
  color: var(--Contrast1);
}

.event-participants {
  margin: 4px 0;
  display: block;
  color: var(--MainBlue);
  font-size: 12px;
  font-weight: bold;
}
