body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

/* Go Live Button ******************************/
#goLive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #F3F2EE;
  width: 75px;
  height: 75px;
  color: white;
  cursor: pointer;
  position: fixed;
  bottom: 5rem;
  right: 20px;
  opacity: 1;
  visibility: visible;
  /* transition: opacity .5s, visibility .5s; */
  z-index: 9999;
}

#goLive.deactive {
  opacity: 0;
  pointer-events: none;
}

#goLive i {
  font-size: 30px;
}

#bottomSheetContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.bottom-sheet {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* transition: bottom 0.5s ease-in-out; */
}

.bottom-sheet.show {
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .bottom-sheet {
    bottom: -100%;
    left: 0;
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    padding: 5px;
    color: black;
    background-color: white;
  }
}

@media screen and (min-width: 769px) {
  .bottom-sheet {
    bottom: -450px;
    right: 0;
    width: 450px;
    height: 450px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0, 92, 173, 0.5);
    border-radius: 10px 0 0 0;
  }

  .sheet-header {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    background-color: #D7DCED;
  }
}

.bottom-sheet.show {
  bottom: 0;
}

.bottom-sheet div {
  color: black;
}

/* bottom-sheet header ****************************/
.sheet-header {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  border-radius: 10px 0 0 0;
  height: 40px;
  background-color: #f3f2ee;
}

#chatTitle {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  color: black;
  align-content: center;
}

#closeButton.close-button {
  position: absolute;
  right: 5px;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* bottom-sheet body ******************************/
#chatArea {
  flex-grow: 1;
  width: auto;
  color: white;
  margin: .5rem;
  padding: .5rem;
  overflow-y: auto;
}

.chat_name {
  color: black;
  background-color: #D6E264;
  border-radius: 50px;
  padding: 0 10px;
}

.chat_mine {
  color: white;
  background-color: #2b4389;
}

.remove-btn {
  background-color: transparent;
  padding-left: 10px;
  border: none;
  color: darkred;
  font-weight: bold;
  display: none;
}



img.chat-image {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}

video {
  width: 200px;
  height: auto;
}

/* bottom-sheet footer ***************************/
.sheet-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  margin: 0 auto;
  padding: .5rem;
  width: calc(100% - 1rem);
  border-top: 1px black solid;
}

#menu {
  display: none;
}

.input-area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
}

.textarea {
  height: 1rem;
  flex-grow: 1;
  border-radius: 25px;
  padding: .5rem;
  background-color: #f3f2ee;
}

.send-area {
  display: flex;
  flex-flow: row nowrap;
}

#sendText {
  display: none;
}

.sheet-footer button {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.sheet-footer textarea {
  font-size: 1.2rem;
  margin: 0;
  height: 1rem;
  resize: none;
  overflow: hidden;
}

.fa-bars,
.fa-camera,
.fa-image,
.fa-paper-plane {
  color: black;
}