body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  margin: 10px;
  gap: 30px;
  height: 20px;
  width: calc(100% - 100px);
}

#backBtn {
  height: 20px;
  margin: 0;
  width: 100px;
}

#message {
  color: red;
  line-height: 20px;
  margin: 0;
}

@media screen and (max-width: 768px) {

  .camera-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin-top: 20px;
  }

  #camera-view {
    width: 100%;
    max-height: 350px;
    /* border: 1px solid #ccc; */
    /* border-radius: 20px; */
  }

  #photo, #recorded-video {
    width: 100%;
    margin-top: 15px;
    display: block;
    /* border-radius: 20px; */
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    order: 1;
    width: 100%; 
  }

  .btn-blue {
    background-color: #3551a4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 15vw;
  }

  .btn-blue:hover {
    background-color: #2e2523;
  }

  .btn-blue:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

}

@media screen and (min-width: 769px){
  .camera-section {
    display: grid;
    grid-template-areas:
    "camera display"
    "buttons buttons";
    gap: 30px;
  }

  #camera-view {
    grid-area: camera;
    width: 40vw;
  }

  #recorded-video {
    grid-area: display;
    width: 40vw;
  }

  #photo {
    grid-area: display;
    width: 40vw;
  }

  .buttons {
    grid-area: buttons;
    gap: 10px;
  }

  button {
    max-width: 150px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    order: 1;
    width: 100%; 
  }

  .btn-blue {
    background-color: 3551a4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 15vw;
  }

  .btn-blue:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

}